<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Uploads</title>
    <%- include('libs') %>
    <script src="/js/actions.js"></script>
</head>
<body>
    <%- include('nav') %>
    <div class="container">
        <h1>Your Videos</h1>
        <div class="table-responsive">
            <!-- Videos -->
            <table class="table table-sm">
                <thead>
                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col">File</th>
                        <th scope="col"></th>
                        <th scope="col"></th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    <% for(var i in videos){ %>
                        <tr>
                            <td><%= videos[i].name %> </td>
                            <td><a href="<%=videos[i].url%>" target="_blank"><%= videos[i].fileName%></a></td>
                            <td><button type="button" class="btn btn-warning">Edit</button></td>
                            <td><a type="button" class="btn btn-primary" href="/view/<%=videos[i].unique%>" target="_blank">View</a></td>
                            <td><button type="button" class="btn btn-danger" onclick="deleteVideo('<%=videos[i].id%>')">Delete</button></td>
                        </tr>
                    <%}%>
                <tbody>
            </table>
            <h1 id="videos">Your Photos</h1>
            <!-- Photos -->
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Date</th>
                        <th scope="col">File Name</th>
                        <th scope="col"></th>
                        <th scope="col">View</th>
                        <th scope="col">Delete</th>
                    </tr>
                </thead>
                <tbody>
                    <% for(var i in photos){ %>
                        <tr>
                            <td><%= photos[i].date%></td>
                            <td><%= photos[i].fileName%></td>
                            <td></td>
                            <td><a type="button" class="btn btn-primary" href="<%=photos[i].url%>" target="_blank">View</a></td>
                            <td><button type="button" class="btn btn-danger" onclick="deletePhoto('<%=photos[i].id%>')">Delete</button></td>
                        </tr>
                    <%}%>
                <tbody>
            </table>
        </div>
        
    </div>
</body>
</html>