<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Uploads</title>
    <%- include('libs') %>
    <% if(!(typeof admin === "undefined")){%>
        <script src="/js/adminActions.js"></script>
        <input type="hidden" id="userID" value="<%= user._id%>">
    <%}else{%>
        <script src="/js/actions.js"></script>
    <%}%>
    
</head>
<body>
    <%- include('nav') %>
    <div class="container">
        <% if(!(typeof admin === "undefined")){%>
            <h1><%= user.name%>'s Profile</h1>
            <h1 id="videos">Videos</h1>
        <%}else{%>
            <h1 id="videos">Your Videos</h1>
        <%}%>
        <div class="table-responsive">
            <!-- Videos -->
            <table class="table table-sm">
                <thead>
                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Upload Date</th>
                        <th scope="col">Direct File</th>
                        <th scope="col">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <% for(var i in videos){ %>
                        <tr>
                            
                            <td>
                                <input type="text" value="<%- unescape(`${videos[i].name}`) %>" id="input_<%=videos[i].unique%>" style="display: none;">
                                <span id="name_<%=videos[i].unique%>" style="font-weight: bold;"><%- unescape(`${videos[i].name}`) %></span> 
                            </td>
                            <td><%=`${videos[i].date.getMonth() + 1}/${videos[i].date.getDate()}/${videos[i].date.getFullYear()}`%></td>
                            <td><a href="<%=videos[i].url%>" target="_blank" ><%= videos[i].fileName%></a></td>
                            <td>
                                <button type="button" class="btn btn-warning" onclick="editName('<%=videos[i].unique%>')" id="edit_<%=videos[i].unique%>">Edit</button>
                                <span id="action_group_<%=videos[i].unique%>" style="display: none;">
                                    <button type="button" class="btn btn-success" onclick="saveName('<%=videos[i].unique%>')">Save</button>
                                    <button type="button" class="btn btn-secondary" onclick="cancelEditName('<%=videos[i].unique%>')">Cancel</button>
                                </span>
                                <a type="button" class="btn btn-primary" href="/view/<%=videos[i].unique%>" target="_blank">View</a>
                                <button type="button" class="btn btn-danger" onclick="deleteVideo('<%=videos[i].id%>')">Delete</button>
                            </td>
                        </tr>
                    <%}%>
                <tbody>
            </table>
            <% if(!(typeof admin === "undefined")){%>
                <h1 id="photos">Photos</h1>
            <%}else{%>
                <h1 id="photos">Your Photos</h1>
            <%}%>
            <!-- Photos -->
            <table class="table table-sm">
                <thead>
                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Upload Date</th>
                        <th scope="col">Direct File</th>
                        <th scope="col">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <% for(var i in photos){ %>
                        <tr>
                            
                            <td>
                                <input type="text" value="<%= photos[i].name %>" id="input_<%=photos[i].unique%>" style="display: none;">
                                <span id="name_<%=photos[i].unique%>" style="font-weight: bold;"><%= photos[i].name %></span> 
                            </td>
                            <td><%=`${photos[i].date.getMonth() + 1}/${photos[i].date.getDate()}/${photos[i].date.getFullYear()}`%></td>
                            <td><a href="<%=photos[i].url%>" target="_blank" ><%= photos[i].fileName%></a></td>
                            <td>
                                <button type="button" class="btn btn-warning" onclick="editName('<%=photos[i].unique%>')" id="edit_<%=photos[i].unique%>">Edit</button>
                                <span id="action_group_<%=photos[i].unique%>" style="display: none;">
                                    <button type="button" class="btn btn-success" onclick="saveName('<%=photos[i].unique%>')">Save</button>
                                    <button type="button" class="btn btn-secondary" onclick="cancelEditName('<%=photos[i].unique%>')">Cancel</button>
                                </span>
                                <button type="button" class="btn btn-danger" onclick="deletePhoto('<%=photos[i].id%>')">Delete</button>
                            </td>
                        </tr>
                    <%}%>
                <tbody>
            </table>
        </div>
        
    </div>
</body>
</html>